{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
  <div class="main-text">

    <div class="open-source">
      <h1>About NullRecords</h1>
      <p>Coming soon</p>
    </div>

  </div>
</div>
</main>

{% endblock content %}
