{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/art_pge.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <section class="main-container">
    <div class="card-container">

        <div class="project-card">
            <img src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p><img src="https://img.icons8.com/material/48/000000/user-male-circle--v1.png"/>Project</p>
                    <p>Craetor name</p>
                    <!-- <a target="_blank" href="https://icons8.com/icon/84898/male-user">Male User icon by Icons8</a> -->
                </div>
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'img/desing1.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'img/desing2.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'img/desing3.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'img/desing4.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>

       
        <div class="project-card">
            <img src="{% static 'img/evilrobot.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>

        <div class="project-card">
          <img src="{% static 'img/desing5.jpg' %}"
              alt="" class="project">
          <div class="project-info">
              <div>
                  <p>Project</p>
                  <p>Craetor name</p>
              </div>
          </div>
      </div>


        <div class="project-card">
          <img src="{% static 'img/disco.jpg' %}"
                alt="" class="project">
            <div class="project-info">
                <div>
                    <p>Project</p>
                    <p>Craetor name</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- pop up music section -->
<section>
    <div class="popup">
        <div class="popupicon"><a href="#musicpopup"><img
                    src="https://img.icons8.com/ios-glyphs/60/undefined/sort-up.png" /></a></div>
    </div>

    <div class="music" id="musicpopup">
        <div class="open-source">
            <h1>Null Records Livestream Radio</h1>
            <div class="open-source">
                <iframe src="https://live.nullrecords.com/public/nullrecords/" frameborder="0"
                    allowtransparency="true" style="width: 70%; height: 300px; border-radius: 5px;"></iframe>
            </div>
        </div>

        <div class="main">
            <script src="https://unpkg.com/wavesurfer.js"></script>

            <div id="waveform"></div>
            <script>
                var wavesurfer = WaveSurfer.create({
                    container: '#waveform',
                    waveColor: 'violet',
                    progressColor: 'purple'
                });

                wavesurfer.load('https://live.nullrecords.com:8000/radio.mp3');
            </script>
        </div>
        <div class="btn-close-popup-container">
            <a href="#" class="btn-close-popup"><img
                    src="https://img.icons8.com/ios-glyphs/60/undefined/sort-down.png" /></a>
        </div>
    </div>
</section>

<!-- <a target="_blank" href="https://icons8.com/icon/99979/sort-up">Sort Up icon by Icons8</a>
-->
</main>

{% endblock content %}
