{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/live_stream_ukraine_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <div class="main-text">
      <a href="#" class="donateBtn">Donate Here</a>
    </div>
  </div>

  <div class="videosoundcloud">
        <h1 class="nullrecords">Artist Radio</h1>
        <iframe width="100%" height="350" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1369677841&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
          style="font-size: 20px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
          <a href="https://soundcloud.com/myevilrobotarmy" title="MyEvilRobotArmy" target="_blank"
            style="color: #cccccc; text-decoration: none;">MyEvilRobotArmy</a> · <a
            href="https://soundcloud.com/myevilrobotarmy/sets/explorations" title="Explorations" target="_blank"
            style="color: #cccccc; text-decoration: none;">Explorations</a></div>
      </div>
</main>

{% endblock content %}
