{% extends "base.html" %}
{% load static %}
<!--Artist page included here -->

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/artist_page.css' %}">
{% endblock extra_css %}

{% block content %}
{% load material_form %}
<main class="main">
  <div class="main-text">

    <div class="open-source">
      <h1>Music and Visual Artists</h1>
      <p>Submit your music or background visual art, for consideration on our streaming playlist and distribution.
        <br>
        <a href="/#contact">Get in touch with us here.</a>
      </p>

    </div>
    <form method="POST">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>

  </div>
</main>

{% endblock content %}
