{% load i18n wagtailcore_tags %}
{% load static %}


<main class="main">
  <div class="main-text">
    <!-- <img src="{% static 'img/logonull(1).png' %}" alt="Null Records Rocket Logo" style="float:left; width:230px;"> -->
    <div class="intro">
      <p><div  style="float:left; width:230px;"><img class="shipLogo" src="{% static 'img/sam2o.png' %}" alt="Null Records Rocket Logo" style="float:left; width:90%;"></div><span class="nullrecords">Null Records</span> helps independent artists connect with fans and sponsors like
        never before. The collective power of a label organized as a collective of visual and musical artists managing
        their own channels and their own destiny.
        <br/>
      </p>
      <p>If your interested in learning more about <a href="/#contact">Get in touch with us</a>.</p>
    </div>
  </div>

    <section class="section2">
      <h2>New Release</h2>
      <div class="image">
        <a href="/news/new-release-from-my-evil-robot-army/" style="border: 0;">
          <img class="section2__img" src="{% static 'img/MERA-Explorations.png' %}" alt="Null Records My Evil Robot Release" style="float:middle;">
        </a>
      </div>
    </section>


    <section class="section1">
      <div class="video">
        <iframe width="500" height="282"
        src="https://www.youtube.com/embed?list=PL8aY_HOIei7xVCkeIe8O5IYK-fJvw75WG&index=4"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
          <h3 class="nullrecords title">LoFi, chillhop, chill beats</h3>
      </div>

      <div class="video">
        <iframe width="500" height="282"
          src="https://www.youtube.com/embed/videoseries?list=PL8aY_HOIei7xVCkeIe8O5IYK-fJvw75WG"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
          <h3 class="nullrecords title">My Evil Robot Army - Tone Poem lo-fi, jazz and chillbeat</h3>
      </div>

      <div class="video">
        <iframe width="500" height="282"
          src="https://www.youtube.com/embed?list=PL8aY_HOIei7xVCkeIe8O5IYK-fJvw75WG&index=3"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
          <h3 class="nullrecords title">MERA low-fi tone poem from In My Nature.</h3>
      </div>
    </section>

    <section class="contacts">
      <div class="contact" id="contact">
        <h1>Contact us</h1>
        <form action="mailto:info@nullrecords.com" method="get">
          <div class="inputcontainer"><input class="inputxt" type="text" name="name" id="name" placeholder="Your name">
          </div>

          <div class="inputcontainer"><input class="inputxt" type="text" name="subjet" id="subjet" placeholder="Subjet">
          </div>

          <div class="inputcontainer"><input class="inputxt" type="email" name="email" id="email"
              placeholder="Email adress"></div>
          <div class="textacontainer"><textarea class="textareaa" name="message" id="message" cols="30"
              rows="10"></textarea></div>
          <div><button class="button" type="submit">Send</button></div>
        </form>
      </div>
    </section>

    <!-- <a href="https://icons8.com/icon/118490/facebook-nuevo">Facebook Nuevo icon by Icons8</a> icons -->
    <!-- <a href="https://icons8.com/icon/47593/campamento-de-la-banda">Campamento de la banda icon by Icons8</a> -->
<!--     Photo by <a href="https://unsplash.com/@withkaispixels?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kai Mason</a> on <a href="https://unsplash.com/t/wallpapers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   </div>-->
</main>
