{% load i18n wagtailcore_tags %}
{% load static %}
<main class="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative div-space" data-aos="fade-up" data-aos-delay="500">
        <!-- Stars -->
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div>
          <p>
            <div style="float:left; width:230px;">
              <img class="shipLogo" src="{% static 'img/8bit_image.png' %}" alt="Null Records Rocket Logo" style="float:left; width:100%;">
            </div>
            <h4>NullRecords - The Intersection of Music, Art and Technology</h4>
            <p>
            NullRecords helps independent artists connect with fans and sponsors like
            never before. The collective power of a label organized as a collective of visual and musical artists managing
            their own channels and their own destiny.
            <br/>
            </p>
          </p>
        </div>
    </div>
  </section><!-- End Hero -->
  <br/>
  <br/>
  <!-- ======= About Section ======= -->
  <section id="latest-articles" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Null Records News</h3>
          <div class="article-list">
            {% for article in latest_articles %}
              <div class="article">
                <h3>{{ article.title }}</h3>
                <p>{{ article.search_description }}</p>
                <p>Published on: {{ article.first_published_at }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <h3>Null Records Playlists - The Best LoFi Music to Study and Relax or be Productive </h3>
          <div class="image">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/684lIQlsexvUQzh094wU7K?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
          <div class="image">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3W2UcHhkiCg8VLaOdLAH7s?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>      
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <h3>New Releases</h3>
    <div id="album" class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Space Jazz</h4>
          <div class="image">
            <a href="https://open.spotify.com/album/3EPQ9RzyXp2PaY5Lxm6v60" style="border: 0;">
              <img id="album" src="{% static 'img/My Evil Robot Army-Space Jazz.png' %}" alt="Null Records My Evil Robot Release">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <h4>Travel Beyond</h4>
          <div class="image">
            <a href="https://open.spotify.com/album/3ky8cniOH5jNCxarEGinKO" style="border: 0;">
              <img id="album" src="{% static 'img/MERA-Travel Beyond.png' %}" alt="Null Records My Evil Robot Release">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h4>Explorations</h4>
          <div class="image">
            <a href="https://open.spotify.com/album/3ky8cniOH5jNCxarEGinKO" style="border: 0;">
              <img class="album" src="{% static 'img/MERA-Explorations.png' %}" alt="Null Records My Evil Robot Release">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <h4>Explorations in Blue</h4>
          <div class="image">
            <a href="https://open.spotify.com/album/3ky8cniOH5jNCxarEGinKO" style="border: 0;">
              <img class="album" src="{% static 'img/MERA-Explorations in Blue -3000x3000 copy.png' %}" alt="Null Records My Evil Robot Release">
            </a>
          </div>
        </div>
      </div>  
    </div>
  </section>

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="video">
          <iframe width="560" height="315" 
          src="https://www.youtube.com/embed/D_m33guIGQg?si=LIAU8yR5zo5BQAtT" title="YouTube video player" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
           <h4 class="nullrecords title">Null Records - The Intersection of Music, Art and Technology</h4>
        </div>  
        
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Ui97ifiAm74?si=Cot1Jf7GGFVeKZf1" 
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
          </iframe>
            <h4 class="nullrecords title">My Evil Robot Army - Tone Poem lo-fi, jazz and chillbeat</h4>
        </div>

        <div class="video">
          <iframe width="500" height="282"
            src="https://www.youtube.com/embed?list=PL8aY_HOIei7xVCkeIe8O5IYK-fJvw75WG&index=3"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <h4 class="nullrecords title">MERA low-fi tone poem from In My Nature.</h4>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact" id="contact">
          <h3>Contact us</h3>
          <form action="mailto:info@nullrecords.com" method="get">
            <div class="inputcontainer"><input class="inputxt" type="text" name="name" id="name" placeholder="Your name">
            </div>

            <div class="inputcontainer"><input class="inputxt" type="text" name="subjet" id="subjet" placeholder="Subjet">
            </div>

            <div class="inputcontainer"><input class="inputxt" type="email" name="email" id="email"
                placeholder="Email adress"></div>
            <div class="textacontainer"><textarea class="textareaa" name="message" id="message" cols="30"
                rows="10"></textarea></div>
            <div><button class="button" type="submit">Send</button></div>
          </form>
        </div>
      </div>
     </div 
  </div>
</section>

</main>
