{% load static wagtailcore_tags wagtailuserbar %}

    {% include "includes/top_header.html" %}
    {% include "includes/header.html" %}

        {% if request.path == '/' %}
        <!-- ======= Hero Section ======= -->
        <section>

            <div class="container d-flex align-items-center justify-content-between">
        {% elif 'artist' in request.path %}

        <link href="{% static 'assets/css/port-style.css' %}" rel="stylesheet">
            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
        
                <ol>
                <li><a href="/">Home</a></li>
                <li>{{ page.title }}</li>
                </ol>
                <h2>{{ page.title }}</h2>
        
            </div>
            </section><!-- End Breadcrumbs -->
            <section class="inner-page">
                <div class="container">
        {% endif %}
    
            {% block content %}{% endblock %}
            </div>
        </section>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
    {% include "includes/footer.html" %}
</html>
