:root{
    --red:#ff5758;
    --grey: #101314;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
}

.album img {
    image-rendering: pixelated;
    max-width: 200px;
    border-color: #ff5758;
    border-width: 3px;
  }

html {
    color: white;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgb(221, 217, 217);
    font-family: 'Press Start 2P', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
  font-size: 1.3em;
}

a {
    background-color: transparent;
    color: #add4d4;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

/* navbar */
.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 100;
}

.wrapper__logo{
    display: flex;
    justify-content: start;
}

.wrapper__links{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 70px;
}

.head{
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.66);
}
a.head{
    color: #ffffff;
    transition: 0.1s linear;
}
.head:hover{
    color: var(--red);
    opacity: 0.7;
    border-bottom: 3px solid var(--red);
}

.logo{
    width: 190px;
    height: 80px;
    padding-left: 10px;
}

.header-link .art {
    position: relative;
    max-width: 100%;
}

/* Submenu nav */
#menu{
    list-style: none;
}

.submenu{
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
}

.submenu li{
    list-style: none;
    width: 152px;
}

.submenu > li > a{
    font-weight: bolder;
    color: white;
    transition: 0.1s linear;
    display: block;
}
.submenu > li > a:hover{
    color: var(--red);
    opacity: 0.7;
    border-bottom: 3px solid var(--red);
}

#menu li:hover .submenu{
    display: block;
}


/* social media aside*/
aside{
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 25vh;
    margin-right: 20px;
    z-index: 90;
}
.sc{
    padding: 2px;
    padding-left: 4px;
}
.yt{
    padding: 2.2px;
}
.bc{
    padding: 2px;
}
.p{
    padding: 7px;
}
.logosocialmed{
    width: 33px;
    border-radius: 25px;
    background-color: var(--red);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    left: 0;
    position: absolute;
}

.option h4 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    font-size: 15px;
    font-weight: 300;
}