:root{
    --red:#ff5758;
}

html {
    color: white;
    box-sizing: border-box;
    background-image: url("/static/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header, main, section, footer{
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.40;
}

p {
  font-size: 1.3em;
}

a {
    background-color: transparent;
    color: #add4d4;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

main {
    display: block; /* For IE11 support */
}

/* navbar */
.header {
    display: flex;
    position: fixed;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 100;
}

.header-link{
    margin-bottom: 10px;
    padding-top: 23px;
    padding-left: 20px;
    width: 90px;
    height: 70px;
}
.head{
    width: 20px;
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
}
a.head{
    color: #ffffff;
    transition: 0.1s linear;
}
.head:hover{
    color: var(--red);
    opacity: 0.7;
    border-bottom: 3px solid var(--red);
}

.logo{
    width: 150px;
    margin-right: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.header-link .art {
    position: relative;
}

.menu{
    list-style: none;
}

.submenu{
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
}

.submenu li{
    list-style: none;
    width: 152px;
}

.submenu > li > a{
    font-weight: bolder;
    color: white;
    transition: 0.1s linear;
    display: block;
}
.submenu > li > a:hover{
    color: var(--red);
    opacity: 0.7;
    border-bottom: 3px solid var(--red);
}

.menu li:hover .submenu{
    display: block;
}

/* social media aside*/
aside{
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 25vh;
    margin-right: 20px;
    z-index: 90;
}
.sc{
    padding: 2px;
    padding-left: 4px;
}
.yt{
    padding: 2.2px;
}
.bc{
    padding: 2px;
}
.p{
    padding: 7px;
}
.logosocialmed{
    width: 33px;
    border-radius: 25px;
    background-color: var(--red);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    left: 0;
    position: absolute;
}

.option h4 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    font-size: 15px;
    font-weight: 300;
}