:root{
    --red:#ff5758;
    --grey: rgb(75, 74, 74);
}

.page-content, .blog_grid {
    position: relative;
    border-bottom: 0;
    padding: 10px 20px 20px 20px;
    background: #ecedf5;
    margin-bottom: 20px;
}

.blog_grid p {
    color: #efe3e3;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
}

ul.links li a {
    color: #d4d0d0;
    font-weight: 300;
}

ul.sidebar {
    border-top: 2px solid var(--main-color);
    background-color: #919ed7;
    padding: 20px;
    margin-bottom: 50px;
    list-style: none;
}

.blog_grid .article .social-share li.social-item i {
    color: #4a0c0c;
    text-align: center;
    width: 100%;
    margin-top: 6px;
}