{% load i18n wagtailcore_tags %}
{% load static %}
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i>info@nullrecords.com
      </div>
      <div class="social-links d-none d-md-block">
        <a href="https://www.twitter.com/nullrecords1" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/nullrecords.1" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/nullrecords.1" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/nullrecords" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="https://www.soundcloud.com/nullrecords" class="soundcloud"><i class="bi bi-soundcloud"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/news">News</a></li>
          <li><a class="nav-link scrollto" href="/submit">Submit</a></li>
          <li class="dropdown"><a href="#"><span>Artists</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/visual-art">Visual Art</a></li>
              <li><a href="/artists">Music</a></li>
              <li><a href="/collaborations">Collaborations</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->