{% load i18n wagtailcore_tags %}
{% load static %}
<!--header included here -->
<header class="header">
  <div class="logo">
    <a href="/">
      <img class="logo" src="{% static 'img/logo.png' %}" alt="">
    </a>
  </div>

  <div class="header-link">
    <ul class="menu">
      <li><a class="head art" href="/artists/">
          {% trans "Artists" %}</a>
          <ul class="submenu">
            <li><a href="/visual-art/">Visual Art</a></li>
            <li><a href="/livestream/">Livestream</a></li>
            <li><a href="/livesukraine/">Livestream Ukraine</a></li>
          </ul>
      </li>
    </ul>
  </div>

  <div class="header-link">
    <a class="head" href="/news/">
      {% trans "News" %}
    </a>
  </div>

  <div class="header-link">
    <a class="head" href="/#contact">
      {% trans "Contact" %}
    </a>
  </div>

  <div class="header-link">
    <a class="head" href="/submit/">
      {% trans "Submit" %}
    </a>
  </div>
  <div class="header-link">
    <a class="head" href="/about/">
      {% trans "About" %}
    </a>
  </div>

</header>
<!--  -->
<aside>
  <div>
    <a href="https://nullrecords.bandcamp.com/" target="_blank">
      <img class="logosocialmed bc"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACJElEQVRoge3WvWtUQRTG4cclRlAJKkqCIEhMo4iNoKVWohZpLBRj4X8QFBuLQFAxjViKYGEnKgYsNQbURhsVooXfEhFFJH5gwBCRaHFnyeRy9+4mXFPNDwaWc96ZM++d2ZkhkUgkEolEIpFIJBL/nWH8raCNRL8HF9UBdmBmgROP2wy2+49Gak3yQ1hSQZ1reFzBOAtiv2q21G/0hDEXfUVqOFtRjUt4UxDfhpv4igncR5/iHbAapzGGn/gY9P1oLyt+RDWrMYmuaNx6/DamGvS5nDOzCe9LajzEiiITy/CuIiOncmPHuQeyA6AdWzAa5Y4GfQ2PQux7iK9CJ85E+qEiI/0VmfiCjgZGJrE2l1uOTyH/LMT2Rn0OFsz1VsiN5xMdYQJVGOkvKBxvnyIGI00nzkfG2wr0a9CN7nzyBNY1KDIfxnGxJP+6Qfxp9HujbJJkW/1Pgf5baHNOrS4ca2mazRnAdEm+0d0UT7Zmdn5N77J4RQawslmHFhjDlSaazS3EP8iOWbLVaZfdSTGHsQu/6oGeIKriv7GvxEBdM4X1udxSvAr5tyF2IOrTV6B/afY4B1crMnG3xISc9onsLVeTfcj4cXo86NvwPMQm0BsMbJCtel3fS3aWV/Uw3NmikeGSmqPm3tZb8bmk7oW6cKRENJ92o4kJuB7abuzBHdmpMy378icVPzk6cQ4vZNvyB+7hUAs1E4lEIpFIJBKJRCLRCv8AeBNUdrgSWAwAAAAASUVORK5CYII=" />
    </a>
  </div>
  <div>
    <a href="https://soundcloud.com/myevilrobotarmy" target="_blank">
      <img class="logosocialmed sc" src="https://img.icons8.com/material/52/000000/soundcloud.png" />
      <!-- <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fmyevilrobotarmy&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe> -->
    </a>
  </div>
  <div>
    <a href="#" target="_blank">
      <img class="logosocialmed yt" src="https://img.icons8.com/metro/52/000000/youtube.png" />
    </a>
  </div>
  <div>
    <a href="https://linktr.ee/nullrecords" target="_blank">
      <img class="logosocialmed p"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAn0lEQVRoge3XTQqDMBRF4dOurtL9b8C4DztoBekoEa6vP+eDB05MctHBDUhKuQML0ICp+CyHNGB9zZza5JJamOfB43tdE4ueyQDVDFDNANUMUG0kwNZt1s551/terDvtu016urvT1/9CIybO+QozcOs9lG20mgGqGaCaAaoZoFoywLJ7bsF9YrbuNNRtJOWM3omPjnfin/WRd2JJ0n97AABzqMbqzJhJAAAAAElFTkSuQmCC" />
    </a>
  </div>
</aside>