:root{
    --red:#ff5758;
}

html {
    color: white;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #072103;
}

svg:not(:root) {
    overflow: hidden;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text {
    margin: 5px auto;
}

.nullrecords{
    color: #ff5757d0;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}