:root {
    --dark: #232830;
    --white: #FFFFFF;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --very-light-pink: #ff57572a;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


body {
    font-family: 'Quicksand', sans-serif;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 26px;
    place-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.card-container:nth-child(1) {
    z-index: 1;
}

.card-container:nth-child(3) {
    z-index: 2;
}

.project-card {
    width: 300px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--very-light-pink);
    margin-right: 10px;
}

.project-card img {
    width: inherit;
    height: 240px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.project-info figure {
    margin: 0 0 0 10px;
}

.project-info figure img {
    width: 35px;
    height: 35px;
}

.project-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    color: azure;
}

.project-info div p:nth-child(2) {
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--white);
}

@media (max-width: 640px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 190px);
    }

    .project-card {
        width: 190px;
    }

    .project-card img {
        width: 190px;
        height: 140px;
    }

    .project-info div p:nth-child(1), .project-info div p:nth-child(2){
        font-size: 12px;
    }

    .project-info figure img{
        height: 28px;
        width: 28px;
    }
}

/* pop up of the music */
.popup{
    margin: 0;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 101;
    bottom: 0%;
    left: 0;
}
.popupicon{
    background-color: var(--red);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 25px;
    width: 100px;
    text-align: center;
    margin:auto;
}
.popupicon img{
    width: 25px;
    text-align: center;
    margin-top: 1px;
}
.popupicon:hover{
    background-color: var(--very-light-pink);
}

.music{
    text-align: center;
    border-radius: 5px;
    height: 500px;
    position: fixed;
    bottom: 0;
    display: flex;
    left: 0px;
    width: 100%;
    height: 360px;
    z-index: 102;
    visibility: hidden;
    opacity: 0;
    transition: all 2s;
}

.music h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.music:target{
    visibility: visible;
    opacity: 1;
}

.open-source{
    padding-top: 5px;
    margin: auto;
    border-radius: 5px;
    width: 75%;
    height: 350px;
    bottom: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23fc5657' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}
.btn-close-popup-container{
    width: 100%;
    height: 25px;
    z-index: 103;
    position: fixed;
    bottom: 0;
    display: flex;
}
.btn-close-popup{
    background-color: var(--red);
    margin: auto;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.btn-close-popup img{
    width: 25px;
    margin-top: 1px;
}