:root{
    --red:#ff5758;
    --yellow: #ffff00;
    --blue: rgb(45, 45, 252);
}

html {
    color: white;
    box-sizing: border-box;
    background-image: url("/static/img/pexels-mathias-reding-11421405.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

svg:not(:root) {
    overflow: hidden;
}

.main {  
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text{
    width: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.donateText{
    background-color: rgba(0, 0, 0, 0.486);
    width: 80%;
    margin: auto;
    padding: 8px 20px;
    border-radius: 5px;
}

.donateBtn {
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 900;
    text-decoration: none;
    margin: 5px auto;
    background: linear-gradient(90deg, var(--blue), var(--yellow));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: grayscale( 90%);
    transition: filter 0.5s;
    /* font-family: 'Inter', sans-serif; */
}

.donateBtn:hover{
    filter: grayscale(10%);
}

.nullrecords{
    color: #ff5757d0;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
    box-sizing: border-box;
}

.videosoundcloud{
    width: 40%;
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}


@media (max-width: 599px) {
    .main {
        padding: 20px 0;
        flex-direction: column;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}